nav li a {
    white-space: nowrap !important;
}

nav {
    margin-left: 20px;
    margin-right: 20px;
}

main article div p {
    margin-left: 20px;
}

.team-image {
    width: 50px !important;
    height: 50px !important;
    max-width: 50px !important;
    max-height: 50px !important;
    min-width: 50px !important;
    min-height: 50px !important;
    border-radius: 50%;
}

@media screen and (max-width: 500px) {
    .picture-big {
        display: none;
    }

    .picture-small {
        display: block;
        align-content: center;
    }

    .team-text-padding {
        padding-left: 10px;
    }
}

@media screen and (min-width: 500px) {
    .picture-big {
        display: flex;
    }

    .picture-small {
        display: none;
    }

    .team-text-padding {
        padding-left: 20px;
    }
}

@media screen and (max-width: 850px) {
    .nav-bar {
        display: none;
    }

    .dropdown-bar {
        margin-right: 40px !important;
        margin-left: 20px;
        margin-top: 20px;
        display: block;
    }
}

@media screen and (min-width: 850px) {

    .nav-bar {
        display: block;
    }

    .dropdown-bar {
        display: none;
    }
}